{% extends 'base.html' %}

{% block content %}


<form method="post" action="{% url 'add_gas_monthly_consumption' %}">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="month" class="col-sm-2 col-form-label">Mois</label>
        <div class="col-sm-10">
        <select id="month" name="month" class="form-control" required>
                <option value="1">Janvier</option>
                <option value="2">Février</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option> 
                <option value="5">Mai</option>
                <option value="6">Juin</option> 
                <option value="7">Juillet</option>
                <option value="8">Aout</option> 
                <option value="9">Septembre</option>
                <option value="10">Octobre</option> 
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
            </select>
        </div>

    </div>
    <div class="row mb-3">
        <label for="year" class="col-sm-2 col-form-label">Année</label>
        <div class="col-sm-10">
            <input type="number" step="any" class="form-control" id="year" name="year" required>
        </div>
    </div>

    <div class="row mb-3">
        <label for="prix_u_old" class="col-sm-2 col-form-label">P.U </label>
        <div class="col-sm-10">
            <input type="number" step="any" class="form-control" id="prix_u_old" name="prix_u_old" required>
        </div>
    </div>




    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>


{% endblock %}