{% extends 'base.html' %}
{% block title %}Ajouter une consommation de Munters{% endblock %}

{% block content %}

<div class="container">
    <h2 style="text-align: center;">Ajouter une consommation de Munters</h2>
    <br>
    <form method="post" action="{% url 'add_munters_consumption' %}">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="meter_reading" class="col-sm-2 col-form-label">Lecture Compteur</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="meter_reading" name="meter_reading" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}
</form>
</div>


{% endblock %}